.about {
    width: 100%;
    position: relative;
    padding: 10% 0 0 0;
    display: inline-flex;
}

.about-text {
    padding-top: 6%;
    position: relative;
    left: 3%;
}

.about h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

.about h2 {
    color: #26d0ce;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.about p {
    color: white;
    width: 100%;
    word-wrap: break-word;
    font-size: 22px;
}







.pic-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
}

.pic {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

#pic1 {
    animation-delay: 0s;
    background-image: url('../images/slideshow/F57BAC51-7C54-42C1-B497-9A5128F2568A.jpg');
}

#pic2 {
    background-image: url('../images/slideshow/IMG_4125.JPG');
    animation-delay: 8s;
}

#pic3 {
    background-image: url('../images/slideshow/Screen\ Shot\ 2022-05-03\ at\ 12.43.03\ PM\(1\).PNG');
    animation-delay: 16s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@media (min-width: 250px) {

    .about-text h1,
    .about-text h2,
    .about-text p {
        text-align: center;
    }

    .pic {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {

    .about-text h1,
    .about-text h2,
    .about-text p {
        text-align: left;
    }

    .pic {
        width: 120%;
        height: 120%;
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}