.about {
    width: 100%;
    position: relative;
    padding: 10% 10% 14%;
    display: inline-flex;
}

.about-text {
    padding-top: 10%;
}

.about h1 {
    color: white;
    width: 50%;
    font-size: 50px;
    margin-bottom: 15px;
}

.about p {
    color: white;
    width: 50%;
    word-wrap: break-word;
    font-size: 20px;
}







/* .pic-container {
    position: relative;
    display: flex;
    width: 50%;
    max-width: 400px;
    height: 500px;
    right: 10%;
    margin: 0 auto;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
}

#pic1 {
    animation-delay: 0s;
    background-image: url('../images/slideshow/F57BAC51-7C54-42C1-B497-9A5128F2568A.jpg');
}

#pic2 {
    background-image: url('../images/slideshow/IMG_4125.JPG');
    animation-delay: 8s;
}

#pic3 {
    background-image: url('../images/slideshow/Screen\ Shot\ 2022-05-03\ at\ 12.43.03\ PM\(1\).PNG');
    animation-delay: 16s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */