body {
    font-family: 'League Spartan', sans-serif;
    background-color: #111011;
}

footer {
    position: relative;
    padding: 10px 0 1px 0;
    padding-top: 5px;
    background: #181818;
    top: 57px;
}

footer p {
    position: relative;
    bottom: 10px;
}

.container,
.text {
    padding-left: 5%;
}