.banner {
    margin-top: 0;
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.bannerRow {
    padding: 2% 5% 2% 5%;
}

.tagLine {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #1a2980;
    background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
    background: linear-gradient(to right, #1a2980, #26d0ce);
    padding: 10px;
}

.banner h1 {
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
}

.nameK {
    position: relative;
    display: inline;
    width: 65px;
    height: 64px;
    bottom: 10px;
    left: 5px;
    margin-left: -15px;
}

.banner h2 {
    display: inline-block;
    margin: 0 5px 5px 5px;
}

.fakeCode {
    text-align: right;
    margin-bottom: 5px;
}

.banner p {
    color: grey;
    font-size: 20px;
    margin-top: 20px;
}

.banner button {
    background: none;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    align-items: center;
}

.banner button:hover {
    cursor: pointer;
    color: #26d0ce;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.imgWrap {
    position: relative;
    display: flex;
}

.imgWrap .topImg {
    width: 100%;
    border-radius: 15%;
    z-index: 3;
    border: 2px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}


.imgWrap .bottomImg {
    position: relative;
    right: 100%;
    width: 100%;
    border-radius: 15%;
    border: 2px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.imgWrap img.topImg {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}

@media (min-width: 250px) {

    .banner {
        text-align: center;
        padding: 20px;
    }

    .banner button {
        display: inline;
        margin-bottom: 20px;
    }

    .banner h1 {
        right: 5px;
        font-size: 36px;
    }

    .nameK {
        width: 40px;
        height: 37px;
        bottom: 6px;
    }
}

@media (min-width: 640px) {

    .banner h1 {
        right: 5px;
        font-size: 50px;
    }

    .nameK {
        width: 50px;
        height: 50px;
        bottom: 9px;
    }
}

@media (min-width: 768px) {
    .banner {
        text-align: left;
    }

    .banner button {
        display: flex;
        margin-bottom: 0px;
    }

    .banner h1 {
        right: 5px;
        font-size: 50px;
    }
}

@media (min-width: 1024px) {
    .banner h1 {
        right: 5px;
        font-size: 65px;
    }

    .nameK {
        width: 65px;
        height: 64px;
        bottom: 10px;
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}