/* list of class names */
/* .banner - full <section> wrapping everything inside banner */
/* .tagLine - <span> with words that say "welcome to my portfolio" */

body {
    background-color: #111011;
}

.banner {
    margin-top: 0;
    padding: 20px 0 0 100px;
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.tagLine {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #1a2980;
    background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
    background: linear-gradient(to right, #1a2980, #26d0ce);
    padding: 10px;
}

.banner h1 {
    font-size: 65px;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
}

.nameK {
    position: relative;
    display: inline;
    width: 65px;
    height: 64px;
    bottom: 10px;
    left: 5px;
    margin-left: -15px;
}

.banner h2 {
    display: inline-block;
    margin: 0 5px 5px 5px;
}

.fakeCode {
    text-align: right;
    margin-bottom: 5px;
}

.banner p {
    color: grey;
    font-size: 20px;
    margin-top: 20px;
}

.banner button {
    background: none;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button:hover {
    cursor: pointer;
    color: #26d0ce;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.imgWrap {
    position: relative;
    display: flex;
}

.imgWrap .topImg {
    width: 100%;
    border-radius: 15%;
    z-index: 3;
    border: 2px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}


.imgWrap .bottomImg {
    position: relative;
    right: 100%;
    width: 100%;
    border-radius: 15%;
    border: 2px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.imgWrap img.topImg {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}

@media (max-width: 640px) {
    .banner {
        text-align: center;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}