.text-zone {
    color: white;
    display: flex;
    flex-direction: column;
}

.contact-page {
    padding-top: 50px;
}

.contact-form {
    width: 100%;
    margin-top: 20px;
}

.contactP {
    font-size: 16px;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

.contact-form ul li {
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
    display: block;
    position: relative;
    color: white;
}

.contact-form ul li.half {
    width: 50%;
    display: inline-flex;
}

.name {
    margin-right: 3px;
}

.email {
    margin-left: 3px;
}

input[type='text'],
input[type='email'] {
    width: 100%;
    height: 64px;
    border: 0;
    background: #181818;
    padding: 0 20px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background: #181818;
    padding: 20px;
    min-height: 150px;
    color: white;
    border-radius: 15px;
}

.flat-button {
    font-size: 11px;
    letter-spacing: 3px;
    color: #878787;
    text-decoration: none;
    background: #181818;
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    height: 40px;
    text-align: left;
    padding: 0 15px;
}

.flat-button:hover {
    transition: all .2s ease-out;
    border: 1px solid white;
    color: white;
}

.map-wrap {
    background: black;
    float: right;
    width: 100%;
    height: 85%;
    margin-right: 15px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.info-map .tel {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 0;
}

.info-map .tel:hover {
    transition: all .25s ease-out;
    color: #26d0ce;
}

.info-map h4 {
    margin-bottom: 0;
}


@media (min-width: 250px) {

    .text-zone {
        padding: 20% 10%14% 10%;
    }

    .text-zone h1 {
        font-size: 45px;
    }

    .info-map {
        width: 100%;
        height: 500px;
        color: white;
        font-size: 17px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .info-map h4,
    .info-map h5,
    .info-map .tel {
        text-align: center;
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {
    .info-map {
        width: 50%;
        height: 750px;
        padding: 20px;
        color: white;
        font-size: 17px;
    }

    .info-map h4,
    .info-map h5,
    .info-map .tel {
        text-align: left;
    }

    .text-zone {
        padding: 14% 10%14% 0;
    }

    .text-zone h1 {
        font-size: 50px;
    }
}