.portfolio-wrap {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
  margin-left: 1%;
}

.project {
  background: #181818;
  border-radius: 5%;
  text-align: center;
  margin: 50px 15px 0 10px;
  padding: 20px;
  color: white;
  margin-top: 50px;
  box-shadow: rgba(57, 140, 255, 0.35) 0px 5px 15px;
}

.project button {
  margin: 3px;
  border: 1px solid white;
  border-radius: 4px;
  height: 45px;
  width: 47%;
}

.project button:hover {
  transition: all .5s ease-out;
  background: #bec7ff;
  border: 1px solid black;
}

.duckProject {
  box-shadow: rgba(0, 255, 47, 0.35) 0px 5px 15px;
}

.duckProject button:hover {
  background: #007935;
}

.project img {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
}

.project h3 {
  margin-top: 10px;
}



.portfolio-wrap h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.portfolio-wrap h2 {
  font-size: 20px;
  text-align: center;
  color: gray;
}

.subDivPortfolio {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.subDivPortfolio h3 {
  font-size: 45px;
  color: #007935;
}

.subDivPortfolio p {
  font-size: 18px;
  width: 85%;
  margin: 0 auto;
  color: gray;
}

.ducksLogo {
  width: 80px;
}


/* featured project styles on home page */

.featuredProjectRow {
  margin: 0 auto;
  text-align: center;
  margin: 100px 0 75px 0;
}

.featuredProject:hover {
  transition: all .3s ease;
  transform: translateY(-5px);
}

.featuredProjectRow p {
  color: grey;
  font-size: 20px;
  margin: 0px;
}

.featuredProject p {
  color: white;
  font-size: 20px;
  margin: 0px;
  height: 70px;
}

.featuredProjectRow h2 {
  font-size: 40px;
  color: white;
}

.featuredProjectRow h3 {
  font-size: 20px;
  color: white;
}